body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: #464646;
}

.container {
  max-width: 1200px;
}

.LogoBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.LogoBlock__logo {
  height: 60px;
  width: auto;
}

.LogoBlock__text {
  margin-left: 20px;
}

.LogoBlock__text .companyTittle {
  font-size: 21px;
  color: #464646;
}

.LogoBlock__text .companyName {
  font-size: 21px;
  text-transform: uppercase;
  color: #7ad66c;
  font-weight: bold;
}

.contactsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #464646;
}

.contactsBlockText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contactsBlockText__text {
  font-size: 12px;
  margin-right: 30px;
}

.contactsBlockText__phone {
  font-size: 16px;
  font-weight: bold;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

input,
button:focus {
  outline: none;
}

.menuBox {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menuBoxItems {
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menuBoxItems__item {
  text-transform: uppercase;
  font-size: 12px;
  color: #464646;
}

.btn {
  background-color: #7ad66c;
  border: none;
  font-size: 16px;
  border-radius: 30px;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.header {
  background: #464646 url("../img/header/bgc.png") no-repeat;
  padding-top: 70px;
  padding-bottom: 90px;
  background-size: cover;
  position: relative;
  z-index: 100;
}

.header::before {
  content: "";
  background-color: rgba(70, 70, 70, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header .title {
  font-size: 46px;
  color: white;
  font-weight: bold;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
}

.advantagesBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.advantagesItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  color: white;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
}

.advantagesItem__img {
  width: 60px;
  height: auto;
  margin-right: 15px;
}

.InputBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 25px;
}

.inputBox {
  background-color: #fff;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  -ms-flex-preferred-size: 320px;
  flex-basis: 320px;
}

.inputBox__icon {
  height: 20px;
  width: auto;
}

.inputBox__input {
  border: none;
  padding-left: 20px;
}

.products {
  padding-top: 70px;
  padding-bottom: 80px;
}

.products__title {
  font-size: 32px;
  color: #464646;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.productsSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.productImg {
  max-height: 200px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.productsSlider__item {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.itemTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}

.btn_produsct {
  font-size: 14px;
}

.prevArrow {
  height: 65px;
  position: absolute;
  z-index: 100;
  width: 20px;
  background: url("../img/prevArrow.png") center no-repeat;
  border: none;
  top: 30%;
  left: 0px;
}

.nextArrow {
  position: absolute;
  height: 65px;
  width: 20px;
  background: url("../img/nextArrow.png") center no-repeat;
  border: none;
  z-index: 100;
  right: 0;
  top: 30%;
}

.advantages {
  background-color: #f5f6f7;
  padding-top: 40px;
  padding-bottom: 100px;
}

.advantages__title {
  font-size: 32px;
  color: #464646;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.advantagesBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.advantagesBlock__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 350px;
  flex-basis: 350px;
}

.advantagesBlock__item .advantagesIcon {
  -ms-flex-item-align: start;
  align-self: flex-start;
  width: 40px;
  margin-right: 20px;
}

.advantagesTextBox__title {
  font-size: 20px;
  color: #7ad66c;
  font-weight: bold;
  margin-bottom: 15px;
}

.advantagesTextBox__text {
  font-size: 16px;
  color: #464646;
  text-align: left;
}

.control {
  padding-top: 70px;
  padding-bottom: 70px;
}

.control__title {
  font-size: 32px;
  color: #464646;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}

.controlBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 35px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.controlBox__img {
  max-width: 556px;
}

.controlBox__text {
  -ms-flex-preferred-size: 560px;
  flex-basis: 560px;
}

.controlBox__text_title {
  font-size: 21px;
  color: #7ad66c;
}

.controlBox__text_content {
  font-size: 15px;
  color: #464646;
}

.controlBox_inverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.practice {
  background-color: #f5f6f7;
  padding-top: 65px;
  padding-bottom: 65px;
}

.practice__title {
  text-align: center;
  font-size: 32px;
  color: #464646;
  font-weight: bold;
  margin-bottom: 25px;
}

.practiceBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.practiceItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 360px;
  flex-basis: 360px;
}

.practiceItem__icon {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-right: 5px;
  max-width: 40px;
}

.practiceItem__text_title {
  font-size: 16px;
  color: #7ad66c;
  margin-bottom: 12px;
}

.practiceItem__text_content {
  font-size: 14px;
  color: #464646;
  text-align: justify;
}

.practiceItem__text ul {
  text-align: left;
  margin-top: 5px;
  padding-left: 18px;
}

.practiceItem__text ul li {
  color: #7ad66c;
  margin-bottom: 10px;
}

.practiceItem__text ul li span {
  color: #464646;
}

.other {
  padding-top: 65px;
  padding-bottom: 65px;
}

.otherBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.otherItem {
  font-size: 13px;
  color: #464646;
  -ms-flex-preferred-size: 260px;
  flex-basis: 260px;
}

.otherItem_title {
  color: #7ad66c;
  font-size: 30px;
  font-weight: bold;
  -ms-flex-item-align: center;
  align-self: center;
}

.otherItem span {
  display: block;
  font-size: 16px;
  color: #464646;
  font-weight: bold;
  margin-bottom: 5px;
}

.offer {
  background: #a2a2a2 url("../img/offer/bgc.jpg") no-repeat center;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 70px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.offer::before {
  content: "";
  background-color: rgba(70, 70, 70, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.ringOrder {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  position: relative;
}

.ringOrder::before {
  content: "";
  border-top: 1px solid #fff;
  width: 80px;
  height: 100%;
  position: absolute;
  left: 0;
}

.ringOrder::after {
  content: "";
  border-top: 1px solid #fff;
  width: 80px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.ringOrder__title {
  -webkit-transform: translateY(-12px);
  transform: translateY(-12px);
  font-size: 21px;
  font-family: "Roboto";
  color: white;
  text-transform: uppercase;
}

.ringOrder .forBorder {
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.ringOrder .forBorder::before {
  content: "";
  border-bottom: 1px solid #fff;
  width: 180px;
  height: 100%;
  position: absolute;
  left: 0;
}

.ringOrder .forBorder::after {
  content: "";
  border-bottom: 1px solid #fff;
  width: 180px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.ringOrder .btn_ringOrder {
  font-size: 18px;
  padding-bottom: 40px;
  padding-top: 20px;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  width: 340px;
}

.ringOrder_offer {
  z-index: 5;
  border: none;
}

.ringOrder_offer::before {
  display: none;
}

.ringOrder_offer::after {
  display: none;
}

.ringOrder_offer .forBorder {
  border: none;
}

.ringOrder_offer .forBorder::before {
  display: none;
}

.ringOrder_offer .forBorder::after {
  display: none;
}

.contacts {
  padding-top: 80px;
  padding-bottom: 90px;
}

.contacts__title {
  font-size: 32px;
  font-family: "Roboto";
  color: #464646;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.contactsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contactsBox__mapBox {
  -ms-flex-preferred-size: 655px;
  flex-basis: 655px;
  margin-right: 50px;
}

.contactsList {
  -ms-flex-preferred-size: 450px;
  flex-basis: 450px;
}

.contactsListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contactsListItem_workTime {
  margin-left: 30px;
}

.contactsListItem__icon {
  width: 20px;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  margin-right: 10px;
}

.contactsListItem__text {
  font-size: 15px;
}

.contactsListItem__text span {
  font-size: 18px;
  color: #464646;
  display: block;
}

.footer {
  padding-top: 40px;
  padding-bottom: 45px;
  background-color: #f2f2f2;
}

.footerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footerTextBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-preferred-size: 700px;
  flex-basis: 700px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footerTextBox__text {
  color: #464646;
}

@media screen and (max-width: 768px) {
  .invisibleMD {
    display: none;
  }

  .LogoBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .LogoBlock__logo {
    height: 60px;
    width: auto;
  }

  .LogoBlock__text {
    margin-left: 16px;
  }

  .LogoBlock__text .companyTittle {
    font-size: 18px;
    color: #464646;
  }

  .LogoBlock__text .companyName {
    font-size: 14px;
    text-transform: uppercase;
    color: #7ad66c;
    font-weight: bold;
  }

  /*******************************Control**************************/

  .controlBox {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .controlBox__img {
    margin-bottom: 10px;
  }

  /*************************************************************/

  /*******************************Practice**************************/

  .practiceBox {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .practiceItem {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .practiceItem__text_title {
    margin-bottom: 5px;
  }

  /*************************************************************/

  /*******************************Other**************************/

  .otherBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .otherItem {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  /*************************************************************/

  /*******************************Contacts**************************/

  .contactsBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .contactsBox__mapBox {
    -ms-flex-preferred-size: 655px;
    flex-basis: 655px;
    margin-right: 20px;
  }

  .contactsListItem {
    margin-bottom: 10px;
  }

  .contactsListItem_workTime {
    margin-left: 30px;
    margin-top: 20px;
  }

  .contactsListItem__text {
    font-size: 12px;
  }

  .contactsListItem__text span {
    font-size: 16px;
    color: #464646;
    display: block;
    margin-bottom: 5px;
  }

  /*************************************************************/

  .footerTextBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-preferred-size: 500px;
    flex-basis: 500px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footerTextBox__text {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: right;
  }
}

@media screen and (max-width: 576px) {
  .invisibleSM {
    display: none;
  }

  .btn_contact {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  /*****************************Header***************************/

  .advantagesBox {
    display: block;
  }

  .advantagesItem {
    margin-bottom: 20px;
  }

  .ringOrder {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    border: 1px solid #fff;
  }

  .ringOrder::before {
    display: none;
  }

  .ringOrder::after {
    display: none;
  }

  .ringOrder__title {
    -webkit-transform: none;
    transform: none;
    font-size: 21px;
    font-family: "Roboto";
    color: white;
    text-transform: uppercase;
  }

  .ringOrder .forBorder {
    height: 100%;
  }

  .ringOrder .forBorder::before {
    display: none;
  }

  .ringOrder .forBorder::after {
    display: none;
  }

  .ringOrder .btn_ringOrder {
    font-size: 18px;
    display: block;
    max-width: 320px;
    padding-bottom: 20px;
    padding-top: 20px;
    -webkit-transform: none;
    transform: none;
  }

  .InputBlock {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .inputBox {
    margin-bottom: 20px;
  }

  /****************************************************************/

  /******************advantages***********************************/

  .advantagesBlock {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .advantagesBlock__item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  /****************************************************************/

  /*******************************Contacts**************************/

  .contactsBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .contactsBox__mapBox {
    -ms-flex-preferred-size: 655px;
    flex-basis: 655px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .contactsList {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  /***************************************************************/

  .footerBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footerTextBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .footerTextBox__text {
    margin-bottom: 15px;
  }

  .LogoBlock_footer {
    margin-bottom: 20px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 320px) {
  .invisibleXS {
    display: none;
  }
}