.header{
    background: #464646 url(../img/header/bgc.png) no-repeat;
    padding-top: 70px;
    padding-bottom: 90px;
    background-size: cover;
    position: relative;
    z-index: 100;
    &::before{
        content: "";
        background-color: rgba(70, 70, 70, .6);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    .title{
        font-size: 46px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 40px;
    }
}

.advantagesBox{

    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.advantagesItem{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(255, 255, 255);
    flex-basis: 300px;
    &__img{
        width: 60px;
        height: auto;
        margin-right: 15px;
    }
}



.InputBlock{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.inputBox{
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-basis: 320px;

    &__icon{
        height: 20px;
        width: auto;       
    }
    &__input{
        border: none;
        padding-left: 20px;
    }
}