@media screen and (max-width: 768px){
    .invisibleMD{
        display: none;
    }

    .LogoBlock{
        display: flex;
        align-items: center;
        &__logo{
            height: 60px;
            width: auto;
        }
        &__text{
            margin-left: 16px;
            .companyTittle{
                font-size: 18px;
                color: rgb(70, 70, 70);
            }
            .companyName{
                font-size: 14px;
                text-transform: uppercase;
                color: #7ad66c;
                font-weight: bold;
            }
        }
    }


/*******************************Control**************************/


.controlBox{
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
    &__img{
        margin-bottom: 10px;
    }
}


/*************************************************************/

/*******************************Practice**************************/
.practiceBox{
    flex-wrap: wrap;
    justify-content: center;
}

.practiceItem{
    flex-basis: 100%;
    margin-bottom: 20px;
    &__text{        
        &_title{
            margin-bottom: 5px;
        }
    }
}
/*************************************************************/

/*******************************Other**************************/
.otherBox{
    display: flex;
    flex-wrap: wrap;
}
.otherItem{
    flex-basis: 100%;
    margin-bottom: 20px;
}
/*************************************************************/


/*******************************Contacts**************************/


.contactsBox{
    display: flex;
    align-items: center;
    justify-content: center;
    &__mapBox{
        flex-basis: 655px;
        margin-right: 20px;        
    }
}

.contactsListItem{
    margin-bottom: 10px;
    &_workTime{
        margin-left: 30px;
        margin-top: 20px;
    }
    &__text{        
        span{
            font-size: 16px;            
            color: $mainText;
            display: block;
            margin-bottom: 5px;
        }
        font-size: 12px;
    }
}



/*************************************************************/



.footerTextBox{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 500px;
    justify-content: flex-end; 
}


}